[2015-10-20 19:58] ildar opened #1 "[FR] Add other controls"
Natural improvement is to add more remote "buttons". The one I miss most is TV/AV switch.
Thanks!

[2015-10-20 21:21] 42SK commented on #1
IR-patterns that do other things than turning the TV off are probably an important feature that should be added soon.
However, one should keep in mind that the main goal of **TVKILL** is not to become a fully featured IR-Remote with all the capabilities of a regular remote. **TVKILL** is intended to be a amusement tool that can either be used to play pranks on others (by turning off TVs) or to enc

[2015-10-23 01:52] LifeIsStrange opened #2 "Add the url of the Google play and F-droid in the README.md ?"
Please.

[2015-10-23 02:46] Gitoffthelawn commented on #2
Simply click on the relevant badges... they are hot-linked.

[2015-10-23 08:23] #2 closed

[2015-10-23 14:38] LifeIsStrange commented on #2
Oh sorry !

[2015-10-23 14:41] LifeIsStrange opened #3 "On my oneplus one TVKILL is broken on F droid."
I see the app on F droid but without the possibility of download.
How can I give you a screenshot ?

[2015-10-23 18:11] 42SK commented on #3
The OnePlus One is not equipped with a build-in infrared blaster.
F-Droid probably won't let you install TV KILL, since your phone does not fulfill the necessary hardware requirements.

[2015-10-23 18:11] #3 closed

[2015-10-23 18:16] LifeIsStrange commented on #3
Now I understund thank you so much and sorry to have take your time :)

[2015-10-24 00:07] pizzamaker opened #4 "Add support for Android 4.0.4"
Pretty please?

[2015-10-24 02:23] snelltheta opened #5 "The info and settings button obscure bottom brand"
Perhaps the settings and about buttons don't need to obscure the brands section altogether

[2015-10-25 14:22] sniperle opened #6 "LG G2 with CM"
I'm using the F-Droid build on LG G2 with the latest CyanogenMod 12.1 nightly, but the IR-Diode isn't sending out any signal. The app detects an IR-Blaster at startup. According to the changelog of CM the IR-Blaster is supported on the LG G2 now: http://review.cyanogenmod.org/#/c/111554/

Maybe a logcat helps:
10-25 15:11:43.672 I/ActivityManager(819): START u0 {act=android.intent.action.VIEW dat=

[2015-10-25 20:37] 42SK commented on #6
This might be quite a serious bug.
It must admit, I never had the opportunity to test TV KILL on a LG-device.
However, I have tested it on devices running CyanogenMod 12.1 and it never seemed to cause any problems.
I can't say for certain why your phone doesn't transmit anything, but I'd assume it is because it's from LG, although I am not aware of any difference between LG and other brands when i

[2015-10-25 21:45] 42SK commented on #4
I'm afraid that's not possible.
TV KILL uses Android's [ConsumerIrManager class](https://developer.android.com/reference/android/hardware/ConsumerIrManager.html) to transmit IR-patterns. That class requires [API level 19](https://developer.android.com/guide/topics/manifest/uses-sdk-element.html#ApiLevels) (Android 4.4) or higher.
We'd love it if TV KILL could also run Android devices which are a b

[2015-10-25 21:45] #4 closed

[2015-10-26 09:05] sniperle commented on #6
Thanks for your help. :-) I checked it a few days ago with another phone (camera), but to be sure I will recheck it again later and then post if the IR-Blaster is transmitting a signal or not.

[2015-10-26 14:47] 42SK commented on #5
I just fixed it. Thanks for your advice.

[2015-10-26 14:47] #5 closed

[2015-10-26 18:20] 42SK commented on #6
I think I've found something that might be useful.
There is a SDK from LG named [QRemote](http://developer.lge.com/resource/mobile/RetrieveOverview.dev?categoryTypeCode=ANRS#RS00000802) that can be used to transmit IR signals on several LG devices, including the G2.
I suppose LG doesn't support Android's [ConsumerIrManager](http://developer.android.com/reference/android/hardware/ConsumerIrManager.

[2015-10-26 19:55] sniperle commented on #6
Thanks again for analyzing the problem. Then I wonder for what CMs blaster change from the first is. Hopefully the implementation of LG support is possible.

[2015-10-27 06:18] Natureshadow opened #7 "How to add more patterns"
Killing TVs is good, but killing more TVs is better. I've yet stumbled upon a Grundig TV set that did not react to the shipped patterns.

What about crowdsourcing more? If the Android IR thing can also receive IR, recording patterns from an actual remote is easy. If not, one could publish a tiny Arduino-based circuit and code to produce necessary data.

[2015-10-27 09:12] 42SK commented on #7
That is a very good idea.
I wanted add a entry to this project's wiki that explains how one can add patterns for new TVs anyway.
The Arduino idea is also great, I've already spent hours searching for IR-pattern-databases that also contains patterns for brands like Grunding, but they are almost non-existent. There seem to be a few Arduino [tutorials](https://learn.adafruit.com/using-an-infrared-lib

[2015-10-27 17:28] JasperWeiss opened #8 "Patterns are misinterpreted by TV when using the universal-mode (HTC One M8 - CM 12.1)"
Hi,
I tried this app with my phone on 2 Sony TV's
But neither worked. It did detect my IR blaster so it should work.
Can you confirm whether it should work on my setup? It seems like I'm having the same issue as the guy running CM on his LG G2

[2015-10-27 18:47] 42SK commented on #8
There already was a review on Google Play which implied that TV KILL wouldn’t work on certain HTC devices. I guess you've just confirmed it.
The main problem seems to be almost equivalent to the one on LG devices:
* HTC also wants to distribute [it's own API](https://www.htcdev.com/devcenter/opensense-sdk/legacy-apis/htc-ir-api/) and therefore doesn’t support Android's [ConsumerIrManager](http://d

[2015-10-27 18:55] Natureshadow commented on #7
I'd very much like to pass this to Teckids e.V., a youth tinkering and open source organisation. The kids could build an Arduino board and program for this which could be published here.

[2015-10-27 19:53] JasperWeiss commented on #8
Allright, so it does actually work. It's just that the universal tab doesn't. Going to brands and hitting sony off multiple times does the trick somehow. I'm not sure if the transmitter isn't strong enough or anything. But I need to keep hitting off while aiming it directly at the tv's receiver.
Is there anything that can be done about this software wise?

[2015-10-27 20:00] JasperWeiss commented on #8
Aha I see. So I only need to hit off once, but the TV seems to wait a sec and a half or so to see if that was the only signal. Probably to prevent a range of singals giving it unintended commands or something.
So the universal tab, which sends a whole bunch of signals right after won't work. It needs to be specifically that signal only.

Same witht the remote, pressing off and next program right a

[2015-10-27 21:23] 42SK commented on #8
Oh, great!
That should be much easier to fix.
It's good to know that TV KILL does work on at least some HTC devices.
I was always wondering if the TVs could somehow misinterpret the commands when the patterns are transmitted directly one after another, but it somehow never caused me any problems.
I'll probably add a option in the application's settings that lets you adjust the delay between the in

[2015-10-27 21:44] 42SK commented on #7
Sure, no problem!
It would be great if you came up with a project that could help people to add more patterns to TV KILL.

[2015-10-27 22:14] 42SK commented on #6
@sniperle
Have you checked your IR-Blaster by now?
It actually sounds rather unlikely that CyanogenMod is depending on a proprietary LG framework to transmit IR patterns.
I thought that we might be having a similar problem on HTC devices in issue #8, but it turns out that one can use TV KILL on HTC devices running CyanogenMod, although HTC also has its own IR API.

[2015-10-27 22:33] sniperle commented on #6
@42SK: Thanks for your message and sorry for the delay.
Yes, I tested it again with a second phone, a camera and another remote control.  And sadly no IR transmission from my phone.
According to the changlog of CM the used IR librarys are:
lib/hw/consumerir.msm8974.so
lib/libcir_driver.so

[2015-10-28 09:24] 42SK commented on #6
@sniperle
I had a look at the */system/lib* directory on a Samsung Galaxy S4 with CyanogenMod 12.1.
I was able to find the *hw/consumerir.msm8974.so* library, and TV KILL works flawlessly on this device.
I therefore assume that the ConsumerIrManager should usually work on your device too.
Have you ever noticed a small [toast-message](https://developer.android.com/guide/topics/ui/notifiers/toasts.h

[2015-10-28 12:07] sniperle commented on #6
Yes I can see this toast message.
I will try to test or with another G2, hopefully today I will be able to catch up one.
Will report after the test.

[2015-10-28 17:29] 42SK commented on #8
This should be fixed in version 1.0.8.
You can adjust the delay between the individual patterns in the settings.

[2015-10-28 17:29] #8 closed

[2015-10-28 19:56] sniperle commented on #6
Tested with another G2 and CM12.1.
Same here, I can see the toast message but the IR diode isn't sending out anything. 😕

[2015-10-29 10:35] 42SK commented on #6
OK,
I could think of a few reasons why this is not working:
* The ConsumerIrManager works on your device but TV KILL is somehow not using it correctly. (e.g. the patterns aren't converted the way they should be)
* The LG API is required to transmit IR patterns on your device. (unlikely, since you are using CyanogenMod and not the original firmware)
* CyanogenMod doesn't support your IR-blaster. (I

[2015-10-30 08:49] sniperle commented on #6
Yes, I tried a few Apps from the Play Store which where described to work with a G3 (and others). Didin't test them with a camera but my TV did nothing, so I assume the IR was not sending anything too.

[2015-10-30 10:15] 42SK commented on #6
OK, then there's probably something wrong with CyanogenMod.
The developer who added IR blaster support seems to be @intervigilium, I'll try to inform him about this.

[2015-10-31 12:21] 42SK commented on #6
I asked the developer who added the IR support to the G2 about this. According to him, LG seems to provide some kind of hardware abstraction layer for the IR blaster, which should support the ConsumerIrManager.
Therefore, assuming that he is right, TV KILL should also work on your device.
However, [some people claim that LG restricts access to the IR blaster for third party apps](http://forums.and

[2015-10-31 12:21] #6 closed

[2015-10-31 13:00] sniperle commented on #6
Alright and thank you very much :-)

[2015-10-31 16:38] spangey commented on #7
Love the sentiment. Talking to ppl here about dedicating a small amount of time to the possibility of fleshing this out some and either forking or shooting a pull request your way. Good stuff!

[2015-11-01 12:46] 42SK commented on #7
I added an [entry to the projects Wiki](https://github.com/42SK/TVKILL/wiki/How-to-add-IR-patterns-to-TV-KILL) that explains how one can add patterns to **TV KILL**.

[2015-11-01 12:46] #7 closed

[2015-11-13 02:32] NickBurrill opened #9 "[FR] Widgets"
If this app had widgets it could be perfect. If you could, perhaps even add them as shortcuts so we could put them in Zooper widgets

[2015-11-13 16:40] 42SK commented on #9
This app already **has** a widget.
It was added in the 82bc9a6cbc5a0855441ea65db978c2693b391199 commit and is available since version 1.0.7.
The widget can be used to access the universal mode directly from the home screen.

[2015-11-13 16:40] #9 closed

[2015-11-13 20:22] dan2468 commented on #1
+1 for mute.
Maybe add a “learn” feature to record a new off pattern.

[2015-11-16 17:32] 42SK commented on #1
@dan2468
A feature that lets you record patterns is probably not possible, since Android devices usually aren't equipped with an IR receiver.
We could add a feature that let's you enter IR codes manually, but users would have to get the patterns elsewhere, which wouldn't be very practical, since IR databases on the Internet are quite rare.
Adding a mute button should be less complicated though ;-)

[2015-11-19 06:10] ildar commented on #1
I think LIRC project's data may fit. It is open as FOSS. JFYI

пн, 16 нояб. 2015, 23:32, 42SK <notifications@github.com>:

--
Ildar Mulyukov,
child of God

email: ildar.mulyukov@gmail.com
GoogleTalk: ildar.mulyukov@gmail.com
blog: http://johan-notes.blogspot.com/

[2015-11-19 10:41] 42SK commented on #1
@ildar
Thanks a lot for your suggestion! The LIRC database looks quite promising.

[2016-01-22 15:31] sniperle commented on #6
FYI: now working on the LG G2
http://review.cyanogenmod.org/#/c/129233/

[2016-01-22 17:55] 42SK commented on #6
Great! I'm glad that somebody finally managed to fix this.

[2016-01-24 04:51] AidanRB commented on #6
I'm just wondering, will TV Kill get support for the default LG G2 rom (lollipop via ota) via root?  If you'd like logs or information about the system or anything, feel free to ask me.  I can try to help to the best of my ability.

[2016-01-24 10:42] 42SK commented on #6
@AidanRB
Actually, **TV KILL** should already support most LG devices.
The [LG developer site](http://developer.lge.com/resource/mobile/RetrieveOverview.dev?categoryTypeCode=ANRS#supporteddev) claims:

Since **TV KILL** uses the ```ConsumerIrManager``` to transmit IR patterns, I see no reason why it shouldn't work on your device.
However, if you do happen to encounter any problems, feel free to op

[2016-01-24 13:27] AidanRB opened #10 "Support for LG G2 VS980 stock rom via root"
ConsumerIrManager is not installed, as the IR transmitter isn't supposed to be accessible by third party apps.  The QRemote API doesn't exist, either.  The preinstalled Quick Remote app appears to be the only thing able to access the IR.  Other apps can't even tell it exists.  Can you still send IR signals via root?  LG G2 VS980, upgraded to Lollipop OTA.

[2016-01-25 09:32] 42SK commented on #10
What makes you think that the ```ConsumerIrManager``` is "not installed"? It's actually part of the standard Android API and should therefore be available on every device running Android 4.4 or higher.
Does **TV KILL** display the "IR emitter found" toast-message at the bottom of the screen when you start the application?
Have you been able to transmit IR patterns with other third party apps or is

[2016-01-25 13:45] AidanRB commented on #10
No third party apps can tell that the IR beamer exists.  Verizon locked it down so that third parties can't access it.  Also, looking at the developer page on the QRemote API, I saw a list that said LG G2 was supported.  It then listed versions of the phone which had it, among which was not VS980.  When I open TV Kill, it gives me a message saying there's no IR beamer.  This problem is, as far as

[2016-01-25 17:50] 42SK commented on #10
OK, thanks a lot for informing me about this.
I had already heard of some LG devices that don't allow third party apps to transmit IR patterns, but I wasn't sure which devices are affected by this.
I don't think that there's much we can do programmatically to solve this issue, since LG seems to have intentionally locked down the IR blaster on the VS980.
However, there might be a way to bypass thes

[2016-02-09 07:17] a-raccoon commented on #1
Thanks a bunch! This is quite possibly the first (working) FOSS IR Blaster app out there, at least in my 3 years of digging.  Much appreciated!  I would love to see the project forked and expanded upon as suggested above, but this app is a gem as is.

As a thought, would it be possible to detect the impulses of a standard television remote from our device's camera, which CAN sense IR even through

[2016-02-09 07:39] a-raccoon opened #11 "Display IR activity; debug UI for geeks"
Would it be possible to show live/raw activity of the IR blaster doing its thing (blinking on/off) as well as a cycling queue of which pattern is currently being played and which patterns are coming up next?  Or are the instructions sent off to the API asynchronously?

[2016-02-09 16:44] 42SK commented on #11
I already thought about replacing the spinning progress bar with a real horizontal progress bar that indicates how many patterns have already been sent. In addition to that, one could also display the brand of the  pattern that is currently being transmitted.
As for showing the live activity of the IR blaster, I don't think that this would make much sense, since the on/off cycles are quite fast. H

[2016-02-09 17:24] 42SK commented on #1
@a-raccoon
Yes, the patterns are probably to rapid to be identified with a normal camera, but it seems to be possible to record the IR patterns of almost any remote with an IR receiver and an Arduino (this was suggested in issue #7). We might be able to use this in order to decode the patterns which could then be [added to **TV KILL**](https://github.com/42SK/TVKILL/wiki/How-to-add-IR-patterns-to-

[2016-02-10 00:34] a-raccoon commented on #11
If you show the brand(s) of the pattern currently being played, could you also display the pattern's code (is in hexadecimal?) so the user might look it up and note which codes work and approximate the code sets that are compatible with their equipment, etc?

I also understand multiple manufacturers will use/share the same somewhat standardized code sets for power or volume and other common contro

[2016-02-10 12:54] 42SK commented on #11
I can confirm your assumption that some patterns affect multiple brands, since **TV KILL** is also capable of turning off LOEWE TVs, although it doesn't transmit any specific patterns for that brand.
The patterns used by **TV KILL** are all expressed in periods of the carrier frequency (they're not coded in hexadecimal).
Showing the patterns while they are being transmitted is probably not such a

[2016-02-21 19:51] beerisgood opened #12 "OnePlus2 / CyanogenMod 12.1"
Have you app any requirements? Because with my OnePlus 2 and CyanogenMod 12.1 which is Android 5.1 i can't install the app via F-Droid.
Its grey and the download/ install button doesn't exist

[2016-02-21 20:07] 42SK commented on #12
This is a duplicate of issue #3.
F-Droid doesn't let you install **TV KILL** on devices that are not equipped with a build-in infrared blaster (such as the OnePlus 2), since they don't fulfill the necessary hardware requirements.

[2016-02-21 20:07] #12 closed

[2016-02-22 03:51] locutis-of-borg-1999 opened #13 "Include a Changelog Link, within the F-Droid App', on Info' Page. Not Present, as of, v.???"

[2016-02-24 13:50] locutis-of-borg-1999 commented on #13
https://f-droid.org/repository/browse/?fdid=com.redirectapps.tvkill

https://f-droid.org/manual/html_node/Changelog.html#Changelog

[2016-02-24 14:01] locutis-of-borg-1999 commented on #13
I belive github changelog/release pages offer RSS/Atom Feeds.  I woul also like to add to my OPML, to see if compatibility for 'Droid <4.4 is added.  Many platforms, with upgrade hurdles have IR hardware.

[2016-02-24 16:03] 42SK commented on #13
Since we never had a real changelog until now, I'll make sure that all changes form now on are documented on our [github releases page](https://github.com/42SK/TVKILL/releases).
As for including a link in F-Droid, I am neither an F-Droid maintainer nor do I have the time to send pull requests to the F-Droid team just because their repo is lacking an insignificant link to a changelog.
I'd therefore

[2016-02-24 18:11] locutis-of-borg-1999 commented on #4
There are quite a few reasons to have Cyanogenmod, or, perhaps better, Replicant; ti fully control ones own hardware.  But, that's nit alwas possible.  :-(

[2016-02-24 18:15] locutis-of-borg-1999 commented on #13
Thanks for having a look.

Some of us are not keen on a global login/ID, across various sites.  And juggling accounts wiuld be far easier, on a desktop...  But, we now live in a mobile society.

[2016-03-16 13:35] 42SK commented on #1
I've added a mute button in [version 1.1](https://github.com/42SK/TVKILL/releases/tag/v1.1) (0e5f28defc52665754928f8ba8c0bd92ade3fb46).
Have fun! :-)

[2016-03-24 15:46] kq01526 opened #14 "Any plans to expand to a full universal remote?"
Hi @42SK ,

do you have any plans to expand your remote to a full universal remote (i.e. a remote that can do more than just powering down TVs)?

As far as I can tell there is no open source universal remote app available for Android, right?

I found this Irdroid:

https://github.com/Irdroid/Irdroid

But Irdroid seems to require an external IR blaster...

So, would be appreciated if you could comm

[2016-03-24 19:02] 42SK commented on #14
Hello @kq01526,
as I already pointed out in issue #1, **TV KILL** was actually never intended to be a "full" universal remote:

Hence, most future contributions will solely aim to serve the project's original purpose.
However, since anyone is permitted to [modify and redistribute](https://github.com/42SK/TVKILL/blob/master/LICENSE) **TV KILL**, one could theoretically create a new project based on

[2016-04-05 07:12] #14 closed

[2016-04-05 07:12] #10 closed

[2016-07-07 10:08] WildS0ft opened #16 "Sony Xperia Z2 Tablet isn't recognized"
My Sony Xperia Z2 Tablet isn't recognized by the app. "No IR blaster" which I'm pretty sure its got. The tablet even comes with an universal remote control app.

**Device:** Sony Xperia Z2 Tablet (SGP511)
**Android:** 5.1.1
**Firmware:** 23.4.A.1.264

[2016-07-12 09:34] 42SK commented on #16
First of all, thanks a lot for reporting this.
When TV KILL sends IR codes, it usually uses the `ConsumerIrManager` class from the standard Android API.
Sony seems to be one of the companies that did not implement this class properly, therefore  TV KILL cannot find (or use) the IR blaster on your device.
However, Sony seems to provide [a custom IR API](https://developer.sony.com/develop/smartphone

[2016-08-30 15:23] WildS0ft commented on #16
Sorry for my very late reply. As far as I can tell you must indeed use Sony's own API to get access to the IR-blaster on Xperia devices. Although, they seem to have a lot of documentation on how to use it.

For example:
[Camera add-on small apps or IR-remote APIS](https://developer.sony.com/develop/archived-sdks/camera-add-on-small-apps-or-ir-remote-apis/)
[How to add IR-remote API support to your

[2016-09-02 15:00] 42SK commented on #16
I just had a more thorough look at the documentation of the API.
It seems that Sony does not actually allow any third party apps to transmit custom IR codes. The API can only be used to send codes from a preinstalled database, which won't do us any good since **TV KILL** uses its own IR codes. Thus, I'm afraid that (at least for now) there is simply no way for **TV KILL** - or any of the other rem

[2016-09-02 15:00] #16 closed

[2016-09-02 17:36] WildS0ft commented on #16
Well that sucks. But thanks for looking into it anyway. At least now I, and everyone else with a Sony device, knows what to expect =) (Perhaps issue some kind of warning in the description or in the app itself).

If I get another device in the future with IR-compatibility I'm sure to check out this project again, or if it somehow down the line is made possible to work around these issues.

Thanks

[2017-01-13 08:16] MichaelIndra opened #17 "long press using repeater or else"

[2017-01-13 08:17] MichaelIndra commented on #17
I want to ask you. previously, if you use google API to transmit? then you have to use the repeater as well as a TV remote control where you hold the volume up, it automatically increases the volume of your TV hardware. if ever, can you give me an example?

thanks in advance. I apologize if my speech and inappropriate language

[2017-01-20 15:41] NeverMine17 opened #18 "Translation to Russian."
Fully done translation.
strings.xml available [here](https://github.com/42SK/TVKILL/files/719786/strings.xml.tar.gz).

[2017-01-20 15:47] NeverMine17 commented on #17
@MichaelIndra, Like that?
[code]

[2017-01-20 15:52] NeverMine17 commented on #11
@42SK, How about hash?
That could be useful.
Even though it doesn't say the exact value.
Look up CRC-32.

[2017-01-20 17:49] NeverMine17 commented on #18
#19

[2017-01-20 17:49] #18 closed

[2017-01-21 10:50] NeverMine17 opened #20 "Google Play store Russian translation"
* [Click me](https://github.com/42SK/TVKILL/files/721073/translation.txt)

[2017-01-21 11:00] NeverMine17 opened #21 "GPG release signing"
How about a GPG key for this project?
Also good to add this in `README.md`
[code]
### EDIT:
Also how about X.509 key to sign apk?

[2017-01-21 13:46] 42SK commented on #21
Android APKs usually have to be singed with a public-key certificate.
All the *.apk files on the [releases page](https://github.com/42SK/TVKILL/releases) are simply singed with the same certificate as the ones on Google Play.
(See https://source.android.com/security/apksigning/index.html for more information on APK signing)

[2017-01-21 14:05] 42SK commented on #20
Thanks!
I've added your translation to the App's Play Store entry.

[2017-01-21 14:05] #20 closed

[2017-01-21 16:37] NeverMine17 commented on #21
@42SK, Ok then. How about GPG?

[2017-01-22 10:47] NeverMine17 opened #23 "Switch from LICENCE to LICENCE.md"
Full text of [LICENCE.md](https://www.gnu.org/licenses/gpl-3.0.md).

[2017-01-23 01:07] MichaelIndra commented on #17
Thank you for the advice. it's to adjust the volume on the gadget? I want to send the signal volume menggunaka ir blaster. but I wanted to send a signal repeater. whether using google API could send the signal repeater? thank you

[2017-01-23 14:42] NeverMine17 commented on #17
@MichaelIndra,
My example shows how to do something when volume down is pressed.
Also, what does `menggunaka ir blaster` mean?
Can you be more specific?

[2017-01-23 15:30] NeverMine17 opened #24 "How about mute widget?"
It's should look like this:

![mute](https://cloud.githubusercontent.com/assets/23419131/22210136/4220de5c-e1a2-11e6-88bf-34b54cbadbb9.png)

[2017-01-23 18:58] 42SK commented on #24
What exactly do you mean by "mute gadget"?
Are you perhaps referring to a widget?

[2017-01-23 19:26] 42SK commented on #21
Since this project is neither very large nor important, I sincerely doubt that anyone will actually find a reasonable need to verify one of the release signatures. However, I'll look into it, maybe we can eventually start signing releases.

[2017-01-23 19:49] 42SK commented on #23
With all due respect, this is not an issue of high priority. :smile:
I think the current LICENCE file will do just fine. :wink:

[2017-01-23 19:49] #23 closed

[2017-01-24 01:32] MichaelIndra commented on #17
`
ConsumerIrManager mCIR = (ConsumerIrManager) this.getSystemService(Context.CONSUMER_IR_SERVICE);
int [] pattern = {9000, 4500,
                                562, 562, 562, 562, 562, 562, 562, 562, 562, 562, 562, 562, 562, 562, 562, 1687,
                                562, 1687, 562, 1687, 562, 1687, 562, 1687, 562, 1687, 562, 1687, 562, 1687, 562,562,
                                562, 562

[2017-01-24 13:31] NeverMine17 commented on #17
See [this wiki](https://github.com/42SK/TVKILL/wiki/How-to-add-IR-patterns-to-TV-KILL)

[2017-01-24 13:38] NeverMine17 commented on #24
@42SK, Oops typo.
Yes, I’m talking about widget.

[2017-01-24 13:50] NeverMine17 commented on #1
I think it's full remote not needed in app named TV **KILL**.
Although its might be useful, it will ruin the main idea of app.

[2017-02-18 19:13] sonigouravnit opened #25 "can not find IR pattern"
http://www.remotecentral.com/cgi-bin/mboard/rc-discrete/thread.cgi?7244    These patterns are different from the patterns you have added. How did you find those patterns.

[2017-05-07 08:57] chatainsim opened #26 "Tasker plugin"
Thanks for this great app.
Is it possible to add a Tasker plugin to this app ?
Thanks

[2017-06-17 13:31] jimmiles opened #27 "Feature Request: REDUCE volume, not Mute"
The 'experimental' mute button works. Every time (multiple TV models). Would it be possible to get a button to reduce the volume instead of muting it? For example, cutting volume in half?
I love the app. You rock my world for making it available. Thank you! I would use it more-- every day, almost, at work where I'm plagued by TVs in my break rooms cranked up to f**king ELEVEN, with this feature.

[2017-06-19 17:31] 42SK commented on #27
Theoretically, yes, a "decrease volume" button would be possible. However, since most TVs only reduce the volume gradually, a "cut-volume-to-half" button - like the one you are describing - is not. The button would only be capable of reducing the volume on step at a time, meaning that you'd have to hit it several times before one would actually notice a difference. Since the app has to send IR-pat

[2017-06-19 17:35] #27 closed

[2017-07-05 23:31] chrisvella opened #28 "[REQ] Support External IR Remotes"
Is it possible to include support for 3.5mm auxiliary IR transmitters?

[2017-07-06 09:29] NeverMine17 commented on #28
Theoretically it is, but we have to deal with the drivers.

[2017-08-15 19:32] NeverMine17 opened #29 "Is this project dead?"
There is 0 activity in this application. Were is the author?
This project have tons of potential!

[2017-08-17 11:39] 42SK commented on #29
No, this project is not "dead".
The app mostly does what it's supposed to do and there aren't any urgent bugs that need to be fixed, hence, activity on this project is obviously not that high.
However, it would be nice if we had more contributors who add new features and send pull requests.

[2017-08-17 11:39] #29 closed

[2017-09-02 22:03] Elegary opened #30 "I sent to you an email..."
Hello, I've sent an email contents the french translation for the app and google play, did you see it ? Thank you ;)

[2017-09-03 09:27] NeverMine17 commented on #30
Why wont you just send a PR?

[2017-09-04 09:19] NeverMine17 commented on #30
@elegary You should close this now.

[2017-09-04 11:37] 42SK commented on #30
Done: 871a472fcfecceb3a01004a34be636cd57b342d1

[2017-09-04 11:37] #30 closed

[2017-10-17 21:21] Limero commented on #28
All the app has to do is send the off signals as audio through the headphone jack. No drivers or such should be needed.

[2017-10-18 12:36] 42SK commented on #28
That's only partially true, we do need a Program or subroutine that takes the signals and converts them into the corresponding audio files.
Everything else should be fairly simple.

[2017-10-22 15:28] NeverMine17 commented on #28
@42SK

Wow, that sounds like a lot of work! @Limero , maybe you could help with it?

[2017-12-16 13:05] #21 closed

[2017-12-16 13:05] #24 closed

[2018-01-27 14:13] MesteMonokrom opened #32 ""No IR blaster" even though phone does have one."
I'm using a LG G2 Mini (D620/D620r/G2M), which does have an IR blaster.

Is this a hardware limitation or is it down to not having a phone to debug with? Either way, let me know if there's anything I can do to help. I wouldn't know where to start personally, but I can be guided through things.

[2018-01-27 14:29] NeverMine17 commented on #32
As @42SK (owner of this project) previously said in issue #10:

[2018-01-27 14:31] NeverMine17 commented on #25
@42SK @sonigouravnit Annual bump

[2018-01-27 14:32] NeverMine17 commented on #13
@42SK @locutis-of-borg-1999 Annual bump

[2018-01-27 14:32] NeverMine17 commented on #28
@42SK @chrisvella @Limero @jorge705 Annual bump.

[2018-01-30 13:00] 42SK commented on #32
@MesteMonokrom
There seem to be some LG devices that simply don't allow third party apps to access the IR blaster (see issue #10). Hence, I'm afraid there's not much you can do to help. But thanks for the offer!

[2018-01-30 13:00] #32 closed

[2018-02-28 16:22] Elegary commented on #28
Hello,
Take a look a [this Audacity Plugin.](https://github.com/Gia90/IR-Converter) As you can see, you can record any IR signal and use this plugin to re-emit it. I suggest to record the all brands sequence and just make an audio file to emit. But you can't select specific brands... And it's not very cool because you have to re-record at any update...
So, why not create a function to convert the

[2018-02-28 17:20] NeverMine17 commented on #28
Wow! Now all we need is to wait until @42SK sees this!

[2018-02-28 20:57] 42SK commented on #28
@Elegary

Theoretically, one could record a single audio file for each pattern. However, prerecording the audio files would indeed be problematic, since it would make adding new patterns a lot more complicated. In addition to that, I'm not sure how large the application will get if we add a bunch of audio files…
A more convenient solution would of course be to generate the files at runtime. And ye

[2018-03-07 18:05] Thetiti999 opened #33 "[REQ] Support External IR Remotes"
Hello,
why did you dont add external usb remote?
please look the code:
https://pastebin.com/NfNtjqti
Thanks

[2018-03-07 18:58] NeverMine17 commented on #33
Thanks for the code, but you should send a PR instead.

[2018-07-20 14:43] #11 closed

[2018-07-29 13:42] rigid opened #36 "Support more brands/patterns"
The famous [TV-B-Gone](https://github.com/adafruit/TV-B-Gone-kit) project supports a wider range of patterns. Maybe [those](https://github.com/adafruit/TV-B-Gone-kit/blob/master/firmware/WORLDcodes.c) can be added to TVKILL without much effort.

[2018-07-30 17:07] 42SK commented on #36
That's a good idea.
I had already considered to use some of the original TV-B-Gone patterns a while ago, but they seem to be encoded differently compared to the patterns that TVKILL usually uses.
If we can find a way to convert them, this would be a great source for new patterns.

[2018-10-02 18:54] NeverMine17 commented on #28
@42SK @Limero @chrisvella @Elegary Maybe this could be useful? https://stackoverflow.com/questions/24845761/decode-remote-control-codes-through-audio-input

[2018-10-03 10:32] 42SK commented on #28
@NeverMine17

That question is concerned with *decoding* audio signals; we, however, have to *encode* them.

[2018-10-15 10:35] reibuehl commented on #33
I would also be interested in sending support for external USB IR dongles on my Samsung S8.
I can't contribute code but am willing to do testing or donate a USB IR dongle if that helps.

[2018-11-14 19:56] PaperMountainStudio opened #40 "[REQ] Support projectors"
I think it would be a good idea to support also projectors, not only TVs. At least the most used brands - Acer, Epson.

[2018-11-14 20:10] 42SK commented on #40
Support for projectors is definitely an idea worth pursuing.
I already spent some time searching for a reliable source of IR patterns for projectors a while ago, but I have not found anything useful so far…

[2018-11-14 20:18] Elegary commented on #40
Currently, I'm using a modified version of the app containing an Epson pattern to control projectors. It's perfectly working. (The mute pattern is not included but you can if you want). You have to add a brand in the "BrandContainer" class.
For the java version put this after the last brand :
`private static Brand epson = new Brand(
            "epson",
            new Pattern[] {

[2018-11-14 20:20] 42SK commented on #40
@Elegary
Do you still know the source of that pattern?

[2018-11-14 20:39] 42SK commented on #40
Great!
I'll definitely try to add the Epson pattern to TVKILL.
I just had another brief look at the globalcache IR-database; unfortunately, I did not find any other well known projector brands there.
As for the Epson pattern, we'll probably have to add some minor fix for the nonexistent mute pattern (perhaps the mute button from the brands screen should be hidden if the current remote is a project

[2018-11-14 20:48] Elegary commented on #40
I've found the mute pattern for Epson. I used this source : [http://www.remotecentral.com/cgi-bin/codes/epson/lcd_projector_no_touchdisc/](http://www.remotecentral.com/cgi-bin/codes/epson/lcd_projector_no_touchdisc/) and I converted the pronto HEX format to the global cache format using iConvert ([https://www.globalcache.com/files/software/iConvert.zip](https://www.globalcache.com/files/software/i

[2018-11-14 20:59] 42SK commented on #40
That's interesting, I did not know that there are projectors with an integrated speaker that can be muted.
Also, I'm quite fond of your solution for converting patterns from the pronto HEX format to the global cache format.
This could prove to be be useful when adding new brands to TVKILL.

[2018-11-14 21:31] Elegary commented on #40
I've a lot of ideas to improve the app, like supporting external IR remote ([https://github.com/42SK/TVKILL/issues/28#issue-240804013](https://github.com/42SK/TVKILL/issues/28#issue-240804013), but I'm a student so I haven't a lot of time and I always forget to do this :(

[2018-11-20 14:15] NeverMine17 opened #42 "Get codes online from irdb.tk"
They have [an api](http://irdb.tk/api) and we dont have to convert everything. @42SK

[2019-02-14 20:10] Foxilein opened #43 "Huawei Mate 20 Pro not supported"
The App doesnt work on the Mate 20 for me. The IR is sending something (checked with Camera) but no TV turns off. My other phone is working fine with the app and tv's.
Is there any update planned?

[2019-02-15 10:31] NeverMine17 commented on #43
@42SK

[2019-02-25 15:23] 42SK commented on #43
@Foxilein
This is quite strange.
Given the fact that your phone does indeed transmit something, the only reasonable explanation I could think of is that Huawei somehow messed up it's implementation of the Android IR API.
Have you found any other third-party IR remotes that work on your device?
Btw, thanks for reporting this!

[2019-03-04 15:35] Foxilein commented on #43
@42SK

The main remote from Huawei and Mi Remote (Xiaomi) is working quite okay - not working with all devices though.
I found this app to work on a few TV's aswell - https://play.google.com/store/apps/details?id=com.limeysoft.tvoff&hl=de

Your App was the best one, hope there's a way to get it working again.

[2019-04-23 10:51] Foxilein commented on #43
Any news? 😊 @42SK

[2019-05-14 16:20] xadacka commented on #43
I have the same issue with P30 Pro, seems to send something when checked with a camera but at an irregular interval, one flash at the button press and 3 when the list is almost finished. Tried changing the delay and using the individual buttons but no luck.

[2019-05-15 18:32] nm17 commented on #43
@42SK

[2019-09-24 19:31] glaukon-ariston opened #46 "Android-Studio and "Unsupported Modules Detected" message"
First, I need to preface this with that I am not familiar with building applications in Android-Studio.

I installed Android Studio. When I open the TVKILL project in it I am getting this message in the Event Log:

_Unsupported Modules Detected: Compilation is not supported for following modules: TVKILL. Unfortunately you can't have non-Gradle Java modules and Android-Gradle modules in one project

[2019-09-25 13:58] 42SK commented on #46
Android Studio can be a bit confusing at times.
The most plausible solutions that I can find when googling your error message is probably [deleting the .idea directory and .iml files](https://stackoverflow.com/questions/28668252/android-studio-error-unsupported-modules-detected-compilation-is-not-supported/49397748#49397748).
I hope this helps.

[2019-09-25 14:37] nm17 commented on #46
@glaukon-ariston Also it helps to click on `File > Invalidate Caches / Restart`. Let us know if it helped!

[2019-09-25 16:55] glaukon-ariston commented on #46
I had to do both -- `File > Invalidate Caches / Restart` and delete `.idea` directory and `.iml` files. I got some messages in the Sync tab implying the sync (or build) has been successful. It is still mysterious to me how to actually select the project (TVKILL), build it and run it in Android Studio. And what does syncing mean? It seems that only when I select `build.gradle` in the project tree I

[2019-09-26 10:24] 42SK commented on #46
OK, I might be able to help you with this one.
The problem is that Android Studio doesn't know that it's supposed to run the Project as an Android App (it sound's ironic, but that's more or less what's happening).
To build (and execute) the Project, you simply have to create a new run configuration (don't worry, it's easier than it sounds):

1. In Android Studio got `Run->Edit Configurations…` (Al

[2019-09-26 17:05] glaukon-ariston commented on #46
I still seem to be doing something wrong. I cannot select anything but `<no module>` in the `Run/Debug Configurations` window -- there's nothing else in the Module drop-down box. There is the _Module not specified_ error at the bottom of the window.

![image](https://user-images.githubusercontent.com/17722062/65709007-1ee8da80-e090-11e9-9b32-66fb1e914d26.png)

Any idea what next to try out?

[2019-09-26 17:34] glaukon-ariston commented on #46
Deleted iml and .idea folder again. This what I get after loading in the project again:

![image](https://user-images.githubusercontent.com/17722062/65710964-45107980-e094-11e9-8771-e46704d4be6e.png)

![image](https://user-images.githubusercontent.com/17722062/65711043-640f0b80-e094-11e9-80a3-f1d67f499399.png)

Still cannot choose a module in the Run/Debug Config window.

[2019-09-26 19:36] glaukon-ariston commented on #46
After a failed Gradle Plugin update I am getting this message

![image](https://user-images.githubusercontent.com/17722062/65719249-ad1b8b80-e0a5-11e9-8bab-075b0331bc61.png)

[2019-09-27 10:56] 42SK commented on #46
Try clicking on the "Install Build Tools 28.0.3, update version in build file and sync project" line in the message. Hopefully, that should make the project  compatible with your version of Android Studio.

[2019-09-28 18:59] glaukon-ariston commented on #46
It seems I am getting closer. After doing a few recommended updates and refactorings I can now get the window of the emulated phone, but without the app installed on the phone because of the following error:

![image](https://user-images.githubusercontent.com/17722062/65821193-88a0ea00-e232-11e9-8a8a-028dfddd6c53.png)

[2019-10-10 10:10] 42SK commented on #46
Sorry for the delay, I think I might have found a way to solve your problem with the error message.
Try [deleting](https://stackoverflow.com/questions/52834661/issue-with-data-binding-with-gradle-3-2-1/53008108#53008108) the `kapt "com.android.databinding:compiler:$gradle_version"` line in the project's `/app/buid.gradle` file. That should fix it.

[2019-10-10 19:28] glaukon-ariston commented on #46
Now I get the following error:

e: java.lang.IllegalStateException: Backend Internal error: Exception during code generation

![image](https://user-images.githubusercontent.com/17722062/66600017-de678180-eba4-11e9-9cc5-8c604f45aa4f.png)

[2019-10-10 22:08] 42SK commented on #46
Try also deleting the `apply plugin: 'kotlin-kapt'` line in the `/app/buid.gradle` file (line 3).

[2019-10-11 22:43] glaukon-ariston commented on #46
Still getting the same error:

![image](https://user-images.githubusercontent.com/17722062/66688973-442d3980-ec89-11e9-8ad3-cc64ead9d0b8.png)

[2019-10-15 18:35] 42SK commented on #46
OK, I'm afraid I might be starting to run out of ideas here.
As a last resort, you could always simply try to delete the entire project and start start form scratch, maybe that somehow fixes it.

[2019-10-16 20:26] glaukon-ariston commented on #46
Can you please verify that you can build [my](https://github.com/glaukon-ariston/TVKILL) fork of the TVKILL? What is your setup (version of Android Studio)? Mine says

Android Studio 3.5.1
Build #AI-191.8026.42.35.5900203, built on September 25, 2019
JRE: 1.8.0_202-release-1483-b03 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

[2019-11-14 08:18] glaukon-ariston commented on #46
@42SK Can you at least try to compile your project with the [BrandContainer.kt](https://github.com/glaukon-ariston/TVKILL/blob/master/app/src/main/java/com/redirectapps/tvkill/BrandContainer.kt) from my fork. That is the only real change in my fork. It adds the IR database from the TV-B-Gone project.

[2019-11-14 20:09] 42SK commented on #46
I tried to compile your fork of TVKILL on my setup, but it also failes with the "`Could not find com.android.databinding:compiler:3.5.1.`" error. Whatever causes this error must therefore be inherent to your Project.
When I tried to compile my version of TVKILL with your version of the `BrandContainer.kt` file, I at first got an internal compiler error. However, since your version introduces a few

[2019-11-15 16:00] nm17 commented on #46
Seems like this is the cause of the problem: https://stackoverflow.com/a/36797616

I guess the only way to fix it is to store all codes in some format like json in the res directory and read them from the code.

[2019-11-18 19:16] glaukon-ariston commented on #46
I have managed to compile and run the original TVKILL app. When I replace the `BrandContainer.kt` with the expanded one I get the `Method code too large` error:
[code]

@nm17 Can you provide me with a sketch code how this res directory/json files solution would be put into code (I'm new to this Android/Kotlin programming)? I know how to put code into JSON files, but I don't know how to read them f

[2019-11-19 10:51] nm17 commented on #46
@glaukon-ariston You can use a library like [Klaxon](https://github.com/cbeust/klaxon), which is used to parse json. From there you can iterate over a list and add brands from code.

I have made an example `data.json` file for sony: https://gist.github.com/nm17/d328de019a62503f2c4ca33b4df8e3b1

You can probably get away with using `Klaxon().parse<Array<Brand>>`

[2020-09-09 09:24] barrycraig opened #47 "Support for external devices?"
Hi, not sure if this is still an active project but it would be amazing if there was support for external IR devices such as: https://www.amazon.co.uk/gp/product/B0793M9XYQ?pf_rd_r=NW4D7AJAE594MVMGPWKR&pf_rd_p=e632fea2-678f-4848-9a97-bcecda59cb4e

[2020-09-09 12:34] nm17 commented on #47
@42SK

[2020-12-10 12:48] bonecountysheriff opened #48 "Has this project been abandoned?"
This project seems to be the only one of its kind, so I am concerned.

[2021-03-06 17:47] ysard commented on #46
Hello the problems in this issue (among others) should be fixed with my proposed changes currently in PRs. These are big improvements for the app; I hope the maintainer will take the time to merge them.

JSON patterns are implemented but I couldn't successfully use a library using JSON as a binding for Java classes (Klaxon, Gson, etc.).
However I hope that my implementations remain acceptable ...

[2021-06-11 14:53] 42SK opened #52 "Additional Patterns preference does not take effect instantly"
As @ysard pointed out in #49, changes toe the Additional Patterns preference (a.k.a. " `depth`") take some time to take effect:

Is there an explanation for this?

[2022-11-27 07:57] Korb opened #53 "Add screenshots on F-Droid"
There are currently no screenshots on [this app's page in the F-Droid](https://f-droid.org/packages/com.redirectapps.tvkill/) catalog. Without a preview, only by a text description, it is difficult to decide whether to download and install the application or not. I propose to add a few screenshots that most fully describe the appearance and functionality of the application.